<a href="https://colab.research.google.com/github/a-forty-two/EY_batch11_3Mar/blob/main/3Mar_001_IntroToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hello world')

hello world

In [3]:
# python-> precompiled C++ and C with a lot of pointer manipulation

# Data Structures -> ???? -> In memory representation, Memory management
# EASIER COMPUTATION -> Transactional (OLTP) and Analytical (OLAP)
# Online Transactional Processes and Online Analytical Processes

# OLTP v/s OLAP

# Databases (SQL Server, MySQL, PostGre), V/S Data Lakes/Warehouses (SQL DW, Synapse,
# HIVE, HBase, Spark, Hadoop, ....)

# Real Time or recent data; v/s historical data

# OLTP-> Normalization of databases; OLAP -> DENORMALIZATION
# OLTP-> EDIT ; OLAP -> SEARCH

# Size -> OLTP-> GBs to 3-4 TB; OLAP -> from TBs and ....

# OLTP-> SQL (SQL Server, MySQL, PostGre) or NoSQL (MongoDB, Neo4J)
# OLAP-> SQL (SQL DW, Hive) or NoSQL (HBase)

# OLTP -> credentials, user data, ecommerce; OLAP-> logs, user transaction history,
# products purchases

# Data originates at OLTP and once it becomes a fact (NO MORE CHANGES), we
# move it to OLAP

# Clustered v/s Non Clustered Indexes
#                     OLTP                      OLAP
#                     Eager eval               Lazy Eval
# a= 0      a=?       0                         True
# b= 1      b=?       1                         True
# c= a+b    c=?       1                         True
# print(c). ???       "1"                       Execution() -> "1"

# OLAP -> Lazy Eval-> Apache Spark (PySpark/Scala), TensorFlow,

# OLTP-> we write code to do exact stuff; we tell HOW to do something
# OLAP-> we tell the computer what to write; computer decides HOW to do it!

In [ ]:
# Big Data -> data too big for 1 machine
# size of 1 machine -> only 2 numbers

# 1, 2, 3 -> small or big ? -> BIG DATA

# M1 - 1, 2    ------------- replication ----- m3 - 1, 2
# m2 - 3                                       m4 - 3

# SUM -> M1 = 1+2 = 3, M2 = 3; M1 + m2 = 6

# sharding
# M1 - 1, 2
# M2 - 2, 3
# M3 - 3, 1
# SUM -> M1 - 3, M2 =5, M3=4, M1 + M2 +M3, = 12 ; 1 + 2 + 3 = 12

# MapReduce -> map the problem to machines; LET THEM SOLVE; reduce the result

In [ ]:
# edit -> replace 2 with 4

# M1 - 1, 2    ------------- replication ----- m3 - 1, 2
# m2 - 3                                       m4 - 3

# assumption-every ops will take 1 second

# OLTP
# M1 - 1, 2    ------------- replication ----- m3 - 1, 2
# m2 - 3                                       m4 - 3

#         0     1     2     3
# M1      NF    F     R     EOF
# M2      NF    EOF


# OLAP
# M1 - 1, 2
# M2 - 2, 3
# M3 - 3, 1

# edit -> replace 2 with 4
#         0     1     2     3
# M1      NF    F     R     EOF
# M2      F     R     NF    EOF
# M3      NF    NF    EOF

In [ ]:
# Problem 2-> search for 2

# M1 - 1, 2    ------------- replication ----- m3 - 1, 2
# m2 - 3                                       m4 - 3

# OLTP
#         0     1
# M1      NF    F
# M2      NF    -


# OLAP
# M1 - 1, 2
# M2 - 2, 3
# M3 - 3, 1

# M2 -> 0th second found!

In [4]:
# OLTP -> Source of Data
# OLAP -> Destination of data

In [ ]:
# OLTP -> pollution data (data, CO, So2)
# OLTP -> birth data (mortality rate)

# OLAP -> relationship between pollution and mortality

In [6]:
# Python data structures

# LIST - INDEXABLE, ORDERED

a= [1, 'hello', 4.21, False, True]
b = [a , a, 3]
print(a)
print(b)

[1, 'hello', 4.21, False, True]
[[1, 'hello', 4.21, False, True], [1, 'hello', 4.21, False, True], 3]

In [7]:
# ORDERED mean-> order will never change! first element will always
# be before the second, .....

# INDEXABLE -> a[0], b[1]
a[1]

'hello'

In [18]:
# Negative indexing
a[-1] # last element

True

In [9]:
# Range based indexing
# [ from : to]
a[1:3] # 1 included, 3 excluded

['hello', 4.21]

In [11]:
a[2:-1] # from second, till last

[4.21, False]

In [12]:
# SET
# { apple, apple, banana }, {banana, apple, apple}, {banana, apple}

# SETs do not allow duplication
# SET there is NO ORDER, NO INDEX

In [13]:
myset1 = {1, 2, 2,3}
myset2 = {3,2,1}
print(myset1)
print(myset2)

{1, 2, 3}
{1, 2, 3}

In [14]:
myset1 = { 0, False, True, 1, 'hello', 42, 1,5, 0}
print(myset1)

{0, True, 'hello', 5, 42}

In [15]:
# UNINDEXED -> ERROR
myset1[0]

TypeError: 'set' object is not subscriptable

In [19]:
# Tuple -> ( 1, 2, 3)
# READONLY, INDEXED, ORDERED

mytup = (1, 'hello', 42)

In [21]:
# ORDERED, INDEXED
print(mytup), print(mytup[-1])

(1, 'hello', 42)
42

(None, None)

In [22]:
# Non-editable/Readonly-> error
mytup[0] = 'bye'

TypeError: 'tuple' object does not support item assignment

In [23]:
# arguments to a function -> args/params should be READONLY
# size of an image-> (28, 28)

# Pass by value; pass by reference

# image_processing(input_img)-> return whether a face was found

In [24]:
# DICTIONARY -> SET with indexes; key-value pairs

mydictionary = { 42: -1,
                "hello": "world",
                 "set": myset1,
                 1: a}

In [25]:
mydictionary[42]

-1

In [26]:
mydictionary['set']

{0, 42, 5, True, 'hello'}

In [27]:
# this is NOT integer based but KEY based indexing
mydictionary[0] # 0 doesn't exist a key in our example!

KeyError: 0

In [39]:
names = ['John', 'Tom', 'Jenny', 'Billu']
ages = [10, 20, 10, 20]
roll_num = [12,123,31,41]

data = {
    "name": names,
    "age" : ages,
    "id" : roll_num,
    "hobby": None
}

In [40]:
data

{'name': ['John', 'Tom', 'Jenny', 'Billu'],
 'age': [10, 20, 10, 20],
 'id': [12, 123, 31, 41],
 'hobby': None}

In [41]:
# PANDAS -> panel dataframes
import pandas as pd
df = pd.DataFrame(data)

In [42]:
df

    name  age   id hobby
0   John   10   12  None
1    Tom   20  123  None
2  Jenny   10   31  None
3  Billu   20   41  None

In [43]:
# 4 data structures:

# List -> [ ] -> ordered, indexed, editable
# Tuple -> ( ) -> ordered, indexed, READONLY
# Set -> { } -> UNORDERED, UNINDEXED, editable
# Dictionary -> { } -> UNORDERED, INDEXED, editable

In [56]:
# looping
mylist = [1, 2,3]
mydictionary = { "a": "b", 42:24, False: 24}

In [57]:
# crude way
for i in mylist:
  print(i)

1
2
3

In [52]:
# crude way
for key,value in mydictionary.items():
  print(str(key) + " : " + str(value))

a : b
42 : 24
False : True

In [53]:
# COMPREHENSION -> looping in a very straightforward syntax
# LIST COMPREHENSION, DICTIONARY COMPREHENSION

# syntax-> [ what_to_do_with_variable for variable in structure ]

# add 1 to every value of mylist

newlist = [val+1 for val in mylist]

In [54]:
print(newlist)

[2, 3, 4]

In [58]:
# in dictionary, i want reversal-> keys should become value, value should be key!

dc2 = {value:key for key,value in mydictionary.items()}
print(dc2)

{'b': 'a', 24: False}

In [59]:
# what if i wanted a list inside tuple
mytup = ( {1,2,3}, [1,2,3], 42, 23)

In [60]:
# what if i wanted a list inside set
myset = { (1,2,3), [1,2,3], 42, 23}

TypeError: unhashable type: 'list'

In [62]:
# what if i wanted a set inside list
mylist = [ {3,2,3}, (1,2,3), 42, 23]

In [63]:
mylist[0]

{2, 3}